:root {
--colorSecciones: #42ad57;
--colorFondo: #C9F299;
--colorTexto: #4F345A;
--padding15px: 15px;
}

/* === RESET — va siempre primero === */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* === TIPOGRAFÍA BASE === */
body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;

    grid-template-rows: auto 1fr auto;
    font-family: "Playwrite NO", cursive;
    background-color: var(--colorFondo);
    color: var(--colorTexto);
}

h1, h2, h3 , h4 {
    font-family: 'Playwrite', Sekuya; /* reemplazar con la fuente de títulos */
}

#encabezado {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--padding15px);
    margin: 15px;
    padding: 16px 32px;
    background-color: #5ad673
}

#navegacion {
    display: flex;
    gap: 24px;
    flex: 1;
    margin-right: 40px;
    background-color: #39aa4f;
    justify-content: space-evenly;
}

#inicio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    text-align: center;

    background-color: var(--colorSecciones);
    margin: 15px;
    padding: var(--padding15px);
}
#sobre_nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    text-align: center;

    background-color: var(--colorSecciones);
    margin: 15px;
    padding: var(--padding15px);
}

#productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    flex-wrap: wrap;
}

#productos div {
    grid-column: span 1;
    display: grid;
    place-items: center;
    height: 100vh;
    justify-content: space-between;
    flex: 1 1 280px;
    background-color: var(--colorSecciones);
    padding: 20px;
    border-radius: 8px;
    margin: 15px;
}

#productos div h3{
    font-size: 30px;
}

#productos div p{
    flex: 1;
    font-size: 20px;
}

form {
    background: var(--colorSecciones);
    padding: var(--padding15px);
    margin: 20px;
}

label {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 15px;
}

input[type="checkbox"],
input[type="radio"] {
    width: auto;
    margin-right: 5px;
}

button {
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    background-color: #146817;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#contacto {
    background-color: var(--colorSecciones);
    margin: 15px;
    padding: var(--padding15px);
}
#footer {
    background-color: var(--colorSecciones);
    margin: 15px;
    padding: var(--padding15px);
}